pkgbase = yeet-shelf
	pkgdesc = Native Yoink-style drag-and-drop shelf for Wayland and Windows
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/hjosugi/yeet
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gtk4
	depends = gtk4-layer-shell
	provides = yeet
	conflicts = yeet
	source = yeet-0.4.0.tar.gz::https://github.com/hjosugi/yeet/archive/refs/tags/v0.4.0.tar.gz
	sha256sums = 055efb7eeb03bbf6459ef1a60f5f8f0843011c74f027275b2feb8f27b356a609

pkgname = yeet-shelf
